<h2 class="text-primary">Face-Detect Analytics</h2><br>

<div class="row">
    <!-- Area Chart -->
    <div class="col col-md-6">

        <div class="card shadow mb-6">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Area Chart</h6>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <div style="display: block">
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                            [legend]="barChartLegend" [chartType]="barChartType">
                        </canvas>
                    </div>
        
                </div>
                <hr>
                Styling for the area chart can be found in the <code>/js/demo/chart-area-demo.js</code> file.
            </div>
        </div>
    </div>

    
   <div class="col col-md-6">
       <!-- Area Chart -->
       <div class="card shadow mb-6">
           <div class="card-header py-3">
               <h6 class="m-0 font-weight-bold text-primary">Area Chart</h6>
           </div>
           <div class="card-body">
               <div class="chart-area">
                   <div style="display: block">
                       <canvas baseChart
                                   [data]="doughnutChartData"
                                   [labels]="doughnutChartLabels"
                                   [chartType]="doughnutChartType"></canvas>
                     </div>
                   
               </div>
               <hr>
               Styling for the area chart can be found in the <code>/js/demo/chart-area-demo.js</code> file.
           </div>
       </div>

   </div> 

</div>




