



<div class="wrapper" *ngIf="loginStatus; else login"> 
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header text-center">
                <h3>PULLMAN</h3>
                <hr class="underline">
            </div>

            <ul class="list-unstyled components">

                <li>                   
                    <a href="#"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-chart-bar"></i> Analytics</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="facedetect">Face Detect Analytics</a>
                        </li>
                        <li>
                            <a href="chatbot">Chatbot Analytics</a>
                        </li>
                        <li>
                            <a href="survey">Survey Analytics</a>
                        </li>
                    </ul>
                </li>
         
                <li>
                    <a href="update"><i class="fas fa-download"></i> Software Update</a>
                </li>
                <li>
                    <a href="upload"><i class="fas fa-upload"></i> Software Upload</a>
                </li>
                <li>
                    <a href="robotstatus"><i class="fas fa-battery-half"></i> Robot Status</a>
                </li>
       
            </ul>
 
                    <!-- <p class="text-center text-light text-sm currentDate">{{ current }}</p> -->
                    <p class="text-center text-light  currentDate">{{ current }}, {{ timeNow }}</p>
   
            <ul class="list-unstyled CTAs">
                <li>
                    <a href="#" class="download" data-toggle="modal" data-target="#myModal">Sample Modal</a>

                    <!-- The Modal -->
                    <div class="modal" id="myModal">
                        <div class="modal-dialog">
                        <div class="modal-content">
                    
                            <!-- Modal Header -->
                            <div class="modal-header">
                            <h4 class="modal-title">Modal Heading</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                    
                            <!-- Modal body -->
                            <div class="modal-body">
                                modal body
                            </div>
                    
                            <!-- Modal footer -->
                            <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                    
                        </div>
                        </div>
                    </div>


                </li>

            </ul>
        </nav>


        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light mt-0">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
    

                    <div class="" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container-fluid">
                <!-- Rendering all the pages -->
                <router-outlet></router-outlet>
                
            </div>

        </div>




    </div>

    <ng-template #login>
        <div id="wrapper">
            <div class="container-fluid">
                <app-login></app-login>
            </div>

        </div>
    </ng-template>
    

